@import "tailwindcss";
@import 'xterm/css/xterm.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101012;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary-red: #D20938;
  --color-primary-red-hover: #A1072B;
  --color-dark-1: #000000;
  --color-dark-2: #09090A;
  --color-dark-3: #101012;
  --color-dark-4: #1F1F22;
  --color-dark-5: #2b2b2b;

  --color-purple-1: #6C28D9;

  --terminal-bg: #1e1e1e;
  --terminal-fg: #d4d4d4;
  --terminal-input-bg: #3b4048;
  --terminal-input-border: #3b4048;
  --terminal-blue: #61afef;
  --terminal-green: #98c379;
  --terminal-red: #e06c75;
  --primary-blue: #61afef;
  --secondary-gray: #4b5263;
  --danger-red: #e06c75;
}

/* To hide the scrollbar */
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Terminal Styles */
.terminal-custom-scrollbar .xterm-viewport {
    scrollbar-width: thin; 
    scrollbar-color: #5c6370 #282c34; 
}

.terminal-custom-scrollbar .xterm-viewport::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
  background-color: transparent;
}

.terminal-custom-scrollbar .xterm-viewport::-webkit-scrollbar-track {
  background: #282c34;
  border-radius: 4px; 
}

.terminal-custom-scrollbar .xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #5c6370; 
  border-radius: 4px; 
}

.terminal-custom-scrollbar .xterm-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #6a717b; 
}

.terminal-custom-scrollbar .xterm-viewport::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Custom ScrollBar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #5c6370 #282c34
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: hsl(var(--background));
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--foreground)); /* Lighter on hover */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Clerk Styles */
.cl-socialButtonsBlockButtonText {
  @apply text-black;
}

.cl-socialButtonsBlockButton {
  @apply bg-white text-black hover:bg-gray-100 active:scale-95 transition-all border border-gray-300 shadow-md hover:shadow-lg
}

.cl-otpCodeFieldInput {
  @apply bg-white text-black border border-gray-300 shadow-md hover:shadow-lg
}

.cl-badge {
  @apply bg-white/30 text-white
}

.cl-navbarButton {
  @apply bg-white/0 text-white hover:bg-white/50 active:scale-95 transition-all duration-200 ease-in-out
}

.cl-avatarImageActionsUpload {
  @apply bg-white/5 text-white hover:bg-white/50 ring-0 transition-all duration-200 ease-in-out
}

.cl-actionCard {
  @apply bg-dark-3/30 shadow-2xl text-white ring-0 transition-all duration-200 ease-in-out
}

/* Custom Styles */
.purple-primary-button {
  @apply bg-gradient-to-br from-purple-1 via-purple-1/90 to-purple-500 hover:opacity-90 cursor-pointer hover:scale-105 transition-all duration-300
}